body {
    font-family: 'Roboto', sans-serif;
}

.full-page-background {
    background: linear-gradient(45deg, #343a40, #007bff);
    color: white;
}

h1 {
    font-weight: 700;
}

.lead {
    font-weight: 400;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

footer {
    background-color: #343a40;
    color: white;
}
