body {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding-top: 50px;
}

h2 {
    color: #007bff;
}

#redis-data {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
