/* Set height to 100%, remove default margin and padding, set standard font size, and hide overflow (scrollbars) for body and html */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px; /* Standard font size for the page */
    font-family: Arial, sans-serif; /* Default font family */
    line-height: 1.5; /* Default line height */
    color: #333; /* Default text color */
}

/* Styling headers (h1, h2) with a specific font, size, weight, and alignment */
h1, h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 48px; /* Large font size for headers */
    font-style: normal;
    margin: 0;
    text-align: center; /* Center-align the headers */
    word-wrap: break-word; /* Allow long words to wrap to the next line */
    color: black; /* Default header color */
    padding: 20px 0; /* Default header padding */
}

/* Styling h3 headers similar to h1 and h2 but with different font size and added padding */
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 36px; /* Slightly smaller font size than h1 and h2 */
    font-style: normal;
    margin: 0;
    text-align: center; /* Center-align the headers */
    word-wrap: break-word; /* Allow long words to wrap to the next line */
    padding-bottom: 10px; /* Extra space below the header */
    color: #000; /* Default header color */
}

/* Styling for a full-page background */
.full-page-background {
    position: relative;
    min-height: 100%; /* Ensure it covers the full page */
    padding-bottom: 50px; /* Add padding at the bottom to create space */
}

/* Before pseudo-element for adding a background image */
.full-page-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/bg.jpg'); /* URL of the background image */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-size: cover; /* Cover the entire area of the element */
    background-attachment: fixed; /* Fix the position of the background image */
    opacity: 0.15; /* Make the image slightly transparent */
    z-index: -1; /* Place it behind the content */
}

/* Styling for sections with padding and alignment */
.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 0; /* Remove top and bottom padding */
    margin-bottom: 20px; /* Add margin at the bottom for separation */
}

/* Styling for pre-formatted text areas */
.formatted-text {
    white-space: pre-wrap; /* Preserve spaces and line breaks */
    word-wrap: break-word;
    font-family: monospace;
    font-size: 16px;
    margin-bottom: 30px; /* Increased margin for separation from other elements */
    word-break: break-all; /* Break words at the end of the line */
    text-align: justify; /* Justify the text for better readability */
    max-width: 80%; /* Limit the width of the text block */
    margin-left: auto; /* Center the text block horizontally */
    margin-right: auto;
    padding: 10px; /* Add padding for better readability */
    background-color: rgba(255, 255, 255, 0.155); /* Light background color for formatted text */
    border-radius: 5px; /* Rounded corners for formatted text */
}

/* Container for content with specified width and margins */
.content-container {
    width: 90%;
    max-width: 1200px; /* Maximum width for larger screens */
    margin-bottom: 10px; /* Reduce margin below the container to 10px */
    padding: 0;
}

/* Styling for the section title */
.section-title {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent gray background */
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    color: black; /* Text color for section title */
}

/* Styling for the subsection */
.subsection {
    margin-left: 20px;
}

/* Styling for the subsection title */
.subsection summary {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    background-color: 0, 0, 0, 0.2;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 5px;
    color: black; /* Text color for subsection title */
}